<%- include('generic/head') %>

  <body>
    <%- include('generic/header', { total }) %>
      <div class="container home-container mb-5">
        <div class="container-top">
          <div class="asset-select-section">
            <select id="assets" name="assets">
              <% data.forEach(data => { %>
                <option value="<%= data.name %>" <%= data.name === 'bitcoin' ? 'selected' : '' %>><%= data.name[0].toUpperCase() + data.name.slice(1) %></option>                
              <% }); %>
            </select>
          </div>
        </div>
        <div class="container img-container">
          <img src="" class="img-fluid float-center" alt="graph" class="img-fluid" />
        </div>
        <div class="card-container">
          <a class="card-link" href="http://192.168.1.111/home">
            <div class="card home">
              <p class="card-title">Home</p>
              <i class="fa-solid fa-house fa-icon"></i>
            </div>
          </a>
          <a class="card-link" href="http://192.168.1.111/portfolio">
            <div class="card portfolio">
              <p class="card-title">Portfolio</p>
              <i class="fa-solid fa-briefcase fa-icon"></i>
            </div>
          </a>
          <a class="card-link" href="http://192.168.1.111/quantities">
            <div class="card quantities">
              <p class="card-title">Quantities</p>
              <i class="fa-solid fa-star fa-icon"></i>
            </div>
          </a>
          <a class="card-link" href="http://192.168.1.111/quantities">
            <div class="card quantities">
              <p class="card-title">Alert</p>
              <i class="fa-solid fa-bell fa-icon"></i>
            </div>
          </a>
        </div>
      </div>
      <%- include('generic/footer') %>