<%- include('generic/head') %>
<body>
<%- include('generic/header', { total }) %>
<div class="container mb-5">
    <div class="container-top mb-5">
        <h1 class="container-title">Portfolio</h1>
    </div>
    <% data.forEach(data => { %>
        <div class="row">
            <div class="col text-center">
                <p><%= data.name %></p>
            </div>
            <div class="col text-center">
                <p><%= data.value %>€</p>
            </div>
        </div>
    <% }); %>
    <div class="row">
        <div class="col text-center">
            <p class="fw-semibold">Total</p>
        </div>
        <div class="col text-center">
            <p class="total-portfolio-value"><%= total %>€</p>
        </div>
    </div>
</div>
<%- include('generic/footer') %>