<%- include('generic/head') %>
<body>
    <%- include('generic/header', { total }) %>
    <div class="container mb-5">
        <div class="container-top mb-5">
            <h1 class="container-title">Quantities</h1>
        </div>
        <% data.forEach(data => { %>
        <div class="row">
            <div class="col">
                <p><%= data.name %></p>
            </div>
            <div class="col">
                <input type="text" value="<%= data.quantity %>" name="<%= data.name %>" class="input_node"/>
            </div>
        </div>
        <% }); %>
        <div class="text-center mt-3">
            <button type="button" class="btn btn-outline-primary btn-sm">Update Quantities</button>
        </div>
        <div class="alert alert-success mt-3 text-center d-none" role="alert">
            Quantities successfully updated!
        </div>
        <div class="alert alert-danger mt-3 text-center d-none" role="alert">
            A error occured, please try again later.
          </div>
    </div>
<%- include('generic/footer') %>